* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  height: 3.75em;
  padding: 0 2em;
}

.logo {
  margin-right: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav--item {
  text-decoration: none;
  color: #000000;
  margin-right: 3em;
  font-weight: bold;
  padding: 1.11em 1em;
}

.nav--item:hover {
  background-color: #000000;
  color: #ffffff;
}

.cart {
  width: 2.5em;
  height: 2.5em;
  border-radius: 50%;
  background-color: #000000;
  position: relative;
  cursor: pointer;
}

.cart:hover {
  transform: scale(1.1);
}

.cart i {
  font-size: 1.2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
}

.cart--count {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5em;
  height: 1.5em;
  bottom: 0;
  background-color: #650400;
  color: #ffffff;
  border-radius: 50%;
  font-size: 0.8em;
}

.secondary-nav {
  background-color: #a1a1a1;
  height: 1.8em;
}

.secondary-nav--item {
  text-decoration: none;
  color: #000000;
  font-size: 0.8em;
  padding: 0.4em 1em;
}

.secondary-nav--item:hover {
  background-color: #424242;
  color: #ffffff;
}
